.all-nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.all-nav > img{
    height: 60px;
    width: auto;
    margin: 10px;
}
.all-nav > ul{
    align-items: center;
}
.nav-menu a{
    text-decoration: none;
}
.nav-menu{
    display: flex;
    margin-right: 50px;
}
.nav-menu li{
    list-style: none;
}
nav a{
    color: #CD9278;
    text-decoration: none;
    margin-right: 80px;
    font-size: 25px;
}
.nav-menu a:hover{
    color: #569CD4;
    border-bottom: 2px solid #569CD4;
}
.all-btn{
    background-color: #CD9278;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 10px;

}
.all-btn:hover {
    background-color: #569CD4;
    font-size: 23px;
}